@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap");

:root {
  --primary-bg: #f6f6f6;
  --footer-bg: #fff;
  --primary-text: #232526;
  --primary-contrast: #a65149;
  --secondary-contrast: #bf9780;
  --font-main: "Inter", sans-serif;
  --font-quote: "Dawning of a New Day", cursive;
}
